first/src/main/mule/first.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9144824c-e862-4060-8be3-53e4e409c51b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstFlow" doc:id="7857400f-94a0-4c91-b8ea-0494f17d20e4" >
		<http:listener doc:name="Listener" doc:id="f5e2836c-9ae0-4ac0-8177-64b286d1852e" path="/first" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["hi"]' doc:name="Set Payload" doc:id="85ac247e-c899-4b31-a147-3a3fa9cde800" />
	</flow>
</mule>
